@media print {
  #about,
  #ideas,
  #contact,
  .tm-sidebar,
  .blocks,
  .heading,
  .img-contact-us,
  section::before {
      display: none;
  }
  .container {
      width: 80%;
  }
  .container .tm-section-title {
      color: blue;
  }
  .container img[src="img/epam-mexico.jpg"] {
      width: 1000px;
      height: 250px;
  }
  p {
      text-indent: 30px;
  }
  p::first-letter {
      color: darkgrey;
      font-size: 30px;
  }
  h2 + p {
      font-style: italic;
  }
  .tm-banner {
      padding: 30px;
      border: none;
  }
}
/* task1 */
.flex-2-col:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tm-box-bg-title:hover {
  color: white;
  font-weight: bold;
  background-color: #87CEFA;
}

p::first-letter {
  color: #87CEFA;
  font-size: 30px;
}


.tm-content-box,
.tm-main-nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tm-banner {
  padding: 0;
  border: #F5F5F5 solid 30px;
}

.carousel .active .tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}


h2 + p {
  font-style: italic;
}

p:not(.tm-banner-text) {
  line-height: 200%;
  text-indent: 30px;
}

ol li a {
  color: black;
}
ol li a:visited {
  color: black;
  text-decoration: underline;
}
ol li a:hover {
  color: #87CEFA;
  text-decoration: underline;
  text-decoration-style: double;
}
ol li .text::after {
  content: "new";
  color: red;
  vertical-align: super;
}


.blocks .box-work {
  padding: 10px;
}
.blocks .box-work p {
  text-indent: 0;
}
.box-work p::first-letter {
  color: black;
}
.blocks .box-work:nth-child(even) {
  background-color: #F5F5F5;
}


.tm-content-box .mandatory-field::after {
  content: " *";
  font-weight: bold;
  color: red;
}
.submit-btn {
  width: 150px;
  height: 50px;
  display: block;
  margin-left: auto;
  color: #87CEFA;
  background-color: white;
  border-radius: 0;
  border: #87CEFA solid 1px;
}
.submit-btn:hover {
  color: white;
  background-color: #87CEFA;
  border: 1px #87CEFA;
}

.tm-nav-item:hover {
  background-color: #F5F5F5;
}
:root {
  --lightblue: #87CEFA;
  --lightgrey: #F5F5F5;
}

.flex-2-col:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tm-box-bg-title:hover {
  color: white;
  font-weight: bold;
  background-color: var(--lightblue);
}


p::first-letter {
  color: var(--lightblue);
  font-size: 30px;
}


.tm-content-box,
.tm-main-nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tm-banner {
  padding: 0;
  border: var(--lightgrey) solid 30px;
}


section::before {
  content: "";
  border-top: 50px solid var(--lightblue);
  border-right: 250px solid transparent;

  width: 0;
  height: 0;
}


.carousel .active .tm-section-title {
  color: gainsboro;
  letter-spacing: 5px;
}


h2 + p {
  font-style: italic;
}


p:not(.tm-banner-text) {
  line-height: 200%;
  text-indent: 30px;
}


ol li a {
  color: black;
}

ol li a:visited {
  color: black;
  text-decoration: underline;
}

ol li a:hover {
  color: var(--lightblue);
  text-decoration: underline;
  text-decoration-style: double;
}

ol li .text::after {
  content: "new";
  color: red;
  vertical-align: super;
}


.blocks .box-work {
  padding: 10px;
}

.blocks .box-work p {
  text-indent: 0;
}

.box-work p::first-letter {
  color: black;
}

.blocks .box-work:nth-child(even) {
  background-color: var(--lightgrey);
}


.tm-content-box .mandatory-field::after {
  content: " *";
  font-weight: bold;
  color: #e32;
}

.submit-btn {
  width: 150px;
  height: 50px;
  display: block;
  margin-left: auto;

  color: var(--lightblue);

  background-color: white;
  border-radius: 0;
  border: var(--lightblue) solid 1px;
}

.submit-btn:hover {
  color: white;
  background-color: var(--lightblue);
  border: none;
}


.tm-nav-item:hover {
  background-color: var(--lightgrey);
}


@media print {
  #about,
  #ideas,
  #contact,
  .tm-sidebar,
  .blocks,
  .heading,
  .img-contact-us,
  section::before {
      display: none;
  }

  .container {
      width: 80%;
  }

  .container .tm-section-title {
      color: blue;
  }

  .container img[src="img/epam-mexico.jpg"] {
      width: 300px;
  }

  p {
      text-indent: 30px;
  }

  p::first-letter {
      color: darkgrey;
      font-size: 30px;
  }

  h2 + p {
      font-style: italic;
  }

  .tm-banner {
      padding: 30px;
      border: none;
  }
}